.bg-Android{
    background: url("https://res.cloudinary.com/www-softroniiks-com/image/upload/v1627664794/Android-Logo_1_zvxzqy.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    /* height: 100vh; */
}

.bg-Android p,.bg-Web p{
    font-size: 18px;
    font-weight: 400;
}


.bg-Android .card {
    border: 0px solid;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 25%);
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-img{
    border-radius: inherit;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    /* padding: 10px; */
}

.bg-Android .card:hover{
    transform: scale(0.9);
    transition: 500ms ease-in-out;
}

.bg-Android a {
    color: black;
}

.app-style-text-datenight{
    position: absolute;
    color: black;
    top: 10px;
    left: 35px;
}

.bg-Web{
    background: url("https://res.cloudinary.com/www-softroniiks-com/image/upload/v1756939764/mern-stack_xn2wap.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40vh;
    /* height: 100vh; */
    /* border-right: 1px solid rgb(219, 215, 215); */
}

.web-project-link{
    font-size: 18px;
    color: black;
    font-weight: 500;
}


.rec2{
    transform: rotate(45deg);
}

.rec4{
}

.rec3{
    transform: rotateX(45deg);
}

.web-projects-list{
    list-style-type: none;
    text-decoration: underline;
    
}

.gear-one{
    animation:gearSpin;
    animation-duration: 3000ms;
    animation-iteration-count:infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    left: 30px;
}

.gear-two{
    animation:gearSpin;
    animation-duration: 3000ms;
    animation-iteration-count:infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    left: 20px;
}

@keyframes gearSpin{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform:rotate(360deg);
    }

}

.bg-Android .amb-app-img{
    height: 100px;
    width: 100px;
}

@media(max-width:600px){
    .bg-Android{
        background: url("https://res.cloudinary.com/www-softroniiks-com/image/upload/v1627664794/Android-Logo_1_zvxzqy.svg");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: center;
    }

    .bg-Android .card:hover{
        transform: none;
        transition: 500ms ease-in-out;
    }

    .bg-Web{
        /* https://www.kindpng.com/picc/m/95-956807_mern-stack-developer-hd-png-download.png */
        background: url("https://res.cloudinary.com/www-softroniiks-com/image/upload/v1756939764/mern-stack_xn2wap.png");
        background-repeat: no-repeat;
        background-size: 300px; /*600px*/
        background-position: right bottom;
        /* border-right: 1px solid rgb(219, 215, 215); */
    }

    .gear-two{
        animation:gearSpin;
        animation-duration: 3000ms;
        animation-iteration-count:infinite;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        left: 30px;
    }

    .app-img{
       border-radius: inherit;
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .bg-Android #datenight-card {
        border: 0px solid;
        box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 25%);
        border-radius: 20px;
    }

    .bg-Android .amb-app-img{
        height: 100px;
        width: 100px;
        position: relative;
        /* left: 66px; */
    }

    .play-btn{
        display: none;
    }
}

